
# Data
# IDE
# Logs
# OS
# Python
# Secrets
*.db
*.egg-info/
*.key
*.log
*.pem
*.py[cod]
*.pyc
*.sqlite
.DS_Store
.env
.idea/
.pytest_cache/
.venv-screenshot/
.venv/
.vscode/
Thumbs.db
__pycache__/
credentials.json
data/
token.json
venv/
